@font-face {
    font-family: "Electric LED";
    src: url("/resources/fonts/LED\ Dot-Matrix.ttf");
}

body {
    font-family: "Electric LED";
    color: #f1bd5a;
    background-color: rgb(20, 26, 27);
}

th {
    font-size: 20px;
    color: white;
}

tr:nth-child(odd) {
    background-color: rgb(44, 34, 34);
}

#monitor {
    background: #000;
    border-top: 3px solid #888;
    padding: 3% 3% 3% 3%;
    border-radius: 10px;
    border-bottom-left-radius: 50% 2%;
    border-bottom-right-radius: 50% 2%;
    overflow: hidden;

    .row {
        background-color: #1d1e20;
        overflow: hidden;
    }
}

#monitorscreen {
    overflow: hidden;
}

.warning-text {
    overflow: hidden;
    white-space: nowrap;
    animation: slidetext 10s linear infinite;
}

@keyframes slidetext {
    0% {
        transform: translate3d(100%, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}
